
@{
    ViewBag.Title = "TEST";
    Layout = "~/Views/shared/_layout.cshtml";
}


<body>

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header-->
        <!--End Main Header -->
        <!--Page Title-->
        <section class="page-title" style="background-image:url(/images/background/10.jpg)">
            <div class="auto-container">
                <h1>YemekSende Hakkında</h1>
            </div>
        </section>
        <!--End Page Title-->
        <!-- Product Form Section -->
        <!-- End Keyword Section -->
        <!-- About Section -->
        <section class="about-section">
            <div class="layer-one" style="background-image: url(/images/resource/category-pattern-1.png)"></div>
            <div class="layer-two" style="background-image: url(/images/resource/category-pattern-1.png)"></div>
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Image Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image">
                               @* <img src="/images/resource/about.png" alt="" />*@
                                <img src="~/images/hakkimizda.jpg" style="max-height:600px;max-width:700px; border-radius:30px" alt="" />
                            </div>
                        </div>
                    </div>

                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <!-- Sec Title -->
                            <div class="sec-title">
                                <div class="title">Hakkımızda</div>
                                <h2>Neden Buradayız?</h2>
                            </div>
                            <div class="bold-text">Sizlere Harika Lezzetler Tanıtmak İçin Buradayız.</div>
                            <div class="text">
                                
                                <p> Amacımız, insanların evlerinde "acaba bugün ne pişirsem?" diye kararsız kaldığında burada bir çok yemek tarifini bulabileceği ve isterlerse başklarının işlerine kolaylık sağlamak için kendilerinin de yemek tarifi ekleyebileceği bir site sunmaktır.  </p>
                                <div class="title" >
                                    <h3 >Siz de Bizlere Katılın!</h3><br />
                                                                     <p> Evinizde yaptığınız muhteşem lezzetleri bizlere tanıtmak için ve diğer insanlara da katkı sunmak için hemen siz de bir <a href="/Sabitler/YemekEkle">yemek ekleyin.!</a> </p>
                                </div>
                                <p>  Birbirinden Farklı Yöresel Lezzetlerle Kendinize veya Sevdiklerinize Değer Katın... </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End About Section -->
        <!-- Founder Section -->
        <section class="founder-section">
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h3>YemekSende</h3>

                            <div class="text">

                                <p>İş çıkışı yorgun düştüğünüzde ve pratik bir yemek aradığınızda, misafirlerinize eşsiz bir şölen hazırlamak istediğinizde, yeni mutfaklar, yeni lezzetler ve yeni yöresel tarifler tatmak istediğnizde her zaman uğrayabileceğiniz yegâne adres<i><b> YemekSende</b></i>.</p>
                                <p>İstedğiniz zaman gelin ve farklı lezzetlerin tadını çıkartın. </p>
                                <p><i>Sizlere Kolaylık Sunmak İçin Buradayız.</i> </p>

                            </div>
                            <br />
                            <br />
                            <br />
                            <div class="bold-text"><h3>Bizimle İletişime Geçin</h3>
                        </div>
                       

                            <h3><a href="mailto:talha.car@hotmail.com">Mail Gönder</a></h3>
                        </div>
                     
                    </div>

                    <!-- Image Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="image">
                                <img src="~/images/kevin-mccutcheon-APDMfLHZiRA-unsplash.jpg"  height="200" width="400"style="border-radius:30px;"  alt="" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Founder Section -->
        <!-- Call To Action Section -->
        <section class="call-to-action-section" style="background-image:url(images/background/2.jpg)">
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Column -->
                    <!-- Column -->


                </div>
            </div>
        </section>


    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-up"></span></div>

</body>
